language: python
jobs:
include:
  - name: "Python 3.8.0 on Xenial Linux"
    python: 3.8           # this works for Linux but is ignored on macOS or Windows
  - name: "Python 3.7.4 on macOS"
    os: osx
    osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
    language: shell       # 'language: python' is an error on Travis CI macOS
  - name: "Python 3.8.0 on Windows"
    os: windows           # Windows 10.0.17134 N/A Build 17134
    language: shell       # 'language: python' is an error on Travis CI Windows
    before_install:
      - choco install python --version 3.8.0
      - python -m pip install --upgrade pip
    env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install: 
  - pip install -r requirements.txt
  - pip install coverage
  - pip install -e .
script:
  - coverage run -m pytest
  
after_success:
  # TO DO: Update token for Codecov for new repository
  - bash <(curl -s https://codecov.io/bash) -t 0ec62e02-7f94-4396-aaa3-ae540c796ef9 -y ./codecov.yml
